@media (max-width: 952px) {
    .text-container {
        display: block;
        background: yellow;
    }
    .text-container .title {
        
        font-size: 20px;
        text-align: center;
    }
    .btn-container .btn {
        margin: 1rem;
        font-size: 13px;
    }
    .img-container .img {
        
        height: 10%;
        margin-right: -100%;
    }
}
