@media (max-width: 570px) {
    .main-info {
        margin: 3em 2em 1em 2em;
    }
}
@media (max-width: 952px) {
    .text-container {
        display: block;
    }
    .text-container .title {
        
        font-size: 20px;
        text-align: center;
    }
    .text-container h2 {
        margin: 20px;
    }
    .btn-container .btn {
        margin: 1rem;
        font-size: 13px;
    }
    .img-container .img {
        
        height: 10%;
        margin-right: -100%;
    }
}
