* {
    padding: 0;
    margin: 0;
}
:root {
    --pinkies: #FFF0EF;
    --valentinesDay: #eb3f84;
}
.main-info {
    position: flex;
    z-index: 1;
    margin: 100px;
}
.main-info .container {
    background: linear-gradient(to top, var(--pinkies), #ffffff);
    border-radius: 20px;
    bottom: 100px;
    padding-top: 28px;
    box-shadow: 0px 20px 80px 0px var(--pinkies);
}
.text-container .title {
    text-align: center;
    color: var(--valentinesDay);
    font-family: 'Dancing Script', cursive;
}
.text-container h2 {
    margin: 50px;
}
.btn-container {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
.btn-container .btn {
    position: flex;
    background: var(--valentinesDay);
    color: white;
    margin: 5rem;
}
.btn-container .btn:hover {
    background: white;
    color: var(--valentinesDay);
    border-color: var(--valentinesDay);
    transition: 0.7s;
}
.img-container {
    display: inline-block;
}
